body
{
    height: 1300px;
    background: linear-gradient(to top right, #67ff92 0%, #6ed3ff 100%, #c080ff)
}

.topnav {
    background-color: #87fdff;
    overflow: hidden;
}

.topnav a {
    color: #2740ff;
    text-align: center;
    line-height:30px;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: skyblue;
    color: darkblue;
}

.topnav a.active {
    background-color: #43ff00;
    color: #228b22;
    /* I got this from https://www.w3schools.com/howto/howto_js_topnav.asp*/
}
body {font-family: Verdana, sans-serif;}

div.a{
    text-align: center;
}